/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* * Global Properties */
body {
    display: grid;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

:root {
    font-size: 0.8vh;
}

.profile {
    border-radius: 50%;
    object-fit: cover;
}

/* * Header Section */
.header {
    padding: 2em 6em;
    display: grid;
    gap: 3em;
    background-color: #eef2ff;
    grid-column: 2 / span 1;
}

.upper-section {
    display: flex;
    gap: 8em;
    align-items: center;
}

.search-bar{
    width: 100%;
}

.search-bar input {
    width: 100%;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 3em;
    margin-left: auto;
}

.user-profile .img-container {
    height: 2em;
    width: 2em;
}

.user-profile div {
    font-size: 2.5rem;
}

.lower-section {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    gap: 2.5em;
    align-items: center;
}

.user-info .img-container {
    width: 3em;
    height: 3em;
}

.user-info div {
    font-size: 3rem;
}

.user-info span {
    font-size: 2.5rem;
}

.buttons {
    display: flex;
    gap: 3em;
    margin-left: auto;
}

.buttons button {
    width: 5em  ;
    font-size: 3rem;
}

/* * Sidebar Section */
.sidebar {
    padding: 3em 3em;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 4vh;
    gap: 1em;
    background-color: #818cf8;
    grid-row: 1 / span 2;
}

.sidebar > * {  
    font-size: 3rem;
}

.sidebar .hero-text {
    grid-row: 1 / span 2;
}

.sidebar .hero-text {
    font-size: 4rem;
}

/* * Main Section */
.main-section {
    padding: 4em 3em;
    padding-right: 6em;
    display: grid;
    column-gap: 4em;
    row-gap: 6em;
    grid-template-columns: 2fr 1fr; 
    background-color: #c7d2fe;
}

.project-section,
.announcements-section,
.trending-section {  
    display: grid;
    grid-template-rows: 0fr 1fr;
    gap: 2em; 
}

.project-section .hero-text,
.announcements-section .hero-text,
.trending-section .hero-text {
    font-size: 3rem;
    border: #818cf8 solid;
}

.project-section {
    grid-row-end: span 2;  
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 2em;
}

.projects .card {
    background-color: #eef2ff;
}

.projects .card div {
    padding: 1.5em;
    font-size: 2.4em;
}

.side-section {
    display: grid;
    gap: 3em;
}

.announcements {
    padding: 3em 5em;
    background-color: #eef2ff;
}

.announcements .card {
    padding-bottom: 1rem;
    font-size: 2.2rem;
    border-bottom: #818cf8 solid;
}

.trending {
    padding: 3em 5em;
    background-color: #eef2ff;
}

.trending .card {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 2.2rem;
}

.trending .card .img-container {
    width: 3em;
    height: 3em;
}

